.header-area {
    background-color: #E554731A;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0 150px;
    ;
}

.header-area img {
    width: 500px;
    border-top: ;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header-title {
    color: #272727;
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 15px;
}

.header-content {}

.header-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
}

.button {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 15px 35px;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
}

.feature-area {
    margin: 80px 140px;

}

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0;
}

.feature-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.box-contains {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.box-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 100px 40px 0 40px;
    height: 300px;
    width: 250px;

}

.box-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 100px 40px 0 40px;
    height: 300px;
    width: 250px;
}

.box-3 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 100px 40px 0 40px;
    height: 300px;
    width: 250px;
}

.box-item {
    margin-right: 10px;
    text-align: center;


}

.box-p {
    color: #272727;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}

.logo-area {
    margin: 80px 140px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);



}

.logo-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.logo-contains {
    display: flex;
    gap: 80px;
    padding: 50px 100px;
    ;
    justify-content: space-between;

}

.logo-item {
    text-align: center;
    margin-right: 30px;
}

.logo-item img {}

.deal-area {
    padding: 80px 200px 60px 250px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 130px;
    justify-content: space-between;
    align-items: center;

}

.deal-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.deal-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.deal-contains {
    text-align: center;
}

.deal-img {
    width: 300px;
    height: 300px;
}

.deal-spa {
    color: #E55473
}

.insta-area {
    margin: 80px 140px;
}

.insta-contains {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.insta-item img {
    width: 250px;
    height: 250px;
}

.latest-area {
    background-image: url('Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 80px 140px;
    height: 350px;;



}
.latest-contains{
    padding-top: 50px;
}

.form-area {
    text-align: center;
    margin-top: 40px;
}

form input[type='email'] {
    border-radius: 8px;
    background: #FFF;
    padding:15px 30px;
    border:0;
    width: 40%;
    margin-right: 10px;
    
     
}